@import url('https://fonts.googleapis.com/css?family=Roboto');
#penger {
    font-family: 'Roboto', sans-serif;
    color: white;
}

#pengibank {
    width: 600px;
    height: 30px;
    padding-top: 10px;
    margin-bottom: 5px;
    color: black;
    background-color: white;
    border: 1px solid black; 
    font-size: 16px;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#bank img {
    padding-top: 10px;
}