@import url('https://fonts.googleapis.com/css?family=Roboto');

#vapen {
    padding: 15px;
    width: 145px;
    height: 150px;
    background-color: #0f0e0e;
    border-radius: 5px;
    float: left;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

.bilforhandlerimg {
    margin-top: 10px;
}

#vapen img {
    width: 150px;
    height: auto;
}

#vapen li {
    margin: 5px;
    list-style-type: none;
    color: aliceblue;
    font-size: 14px;
}

.container {
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.bilbtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.bilbtn:hover {
    background-color: darkgreen;
}

#velykket {
    width: 600px;
    background-color: darkgreen;
    color: white;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}